body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: scroll;
}
body * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
hr {
  border-color: inherit;
}
.container-md {
  max-width: 800px;
}
.container-sm {
  max-width: 640px;
}
img,
a {
  display: inline-block;
  color: inherit !important;
}
a.nav-item.nav-link {
  color: white !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body script {
  display: none;
}
.btn-add::after {
  content: 'Add';
}
.array-item-move-up::after {
  content: 'Move Up';
}
.array-item-move-down::after {
  content: 'Move Down';
}
.array-item-remove::after {
  content: 'Remove';
}

.vibrate {
  animation: vibrate 0.3s linear infinite both;
}

@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

ion-content {
  height: 100vh;
}
